.login-link {
  text-decoration: none;
  margin-left: 5px;
  color: black;
}

.login-link:hover {
  color: var(--primary-light);
}

.card {
    width: clamp(300px, 40%, 350px);
}

.register {
    width: 90%;
}